---
import classnames from 'classnames'
const props = Astro.props
---

<button
	type="button"
	class={classnames(
		'rounded-full px-5 py-2.5 text-center text-sm font-bold uppercase transition-all duration-300 hover:ring-4 focus:outline-none',
		{
			'bg-primary hover:bg-primary-400 hover:ring-primary-500':
				props.variant === 'primary' || !props.variant,
			'bg-secondary hover:bg-secondary-400 hover:ring-secondary-500': props.variant === 'secondary'
		}
	)}
>
	{props.title}
</button>
