---
import { getMenu, Menus } from '../utils/wordpress'
import Button from './Button.astro'
const topMenu = await getMenu(Menus.TOP)
---

<ul
	class="flex flex-col items-center *:uppercase *:tracking-wider md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-white md:p-0"
>
	{
		topMenu.map((item, index) => {
			if (topMenu.length === index + 1) {
				return <Button href={item.url} title={item.title} />
			}

			return (
				<li class="flex items-center">
					<a href={item.url} class="">
						{item.title}
					</a>
				</li>
			)
		})
	}
</ul>
